
<center>

<h1><%= @photo.caption %></h1>

<% if @photo.image.attached? %> 
	<%= image_tag @photo.image %>
<% end %>

<% if @photo.images.attached? %>
	<%= @photo.images.each do |image| %>
		<%= image_tag image, height: 50 %>
 	<% end %>
 <% else %>
 	<p>enter your comment :</p>
 <% end %>

<ul>	
 <% if @photo.comments.any? %>
	<% @photo.comments.each do |comment| %>
		<li>
	 	<%= comment.message %>
	 	</li>
 	<% end %>
 <% end %>
</ul>

 <%= form_for @comment, url: photo_comments_path(@photo) do |form| %>
 	<%= form.label :message %>
 	<%= form.text_area :message %>

	<%= form.submit %>
<% end %>
</center>
